{% extends 'base.html' %}
{% block title %} Registration {% endblock %}

{% block content%}

<div>
    <p>This is the registration page</p>
</div>

<div>
    <form action="/register" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Full name</label>
            <input type="text" name="full_name" class="form-control"  aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control"  aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">phone number</label>
            <input type="tel" name="phone" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" >
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>

{% endblock %}